* {
    box-sizing: border-box;
    margin: 0;
}

#mazegrid {
    display: grid;
    background-color: gray;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 5px;
    width: 600px;
    height: 600px;
}

/* cell with no type, only use for debug */
.mazecell {
    background-color: purple;
}

.mazecell.passage {
    animation: passage_appear 1s forwards;
}

@keyframes passage_appear {
    0% {
        background-color: inherit;
    }
    100% {
        background-color: white;
    }
}

.mazecell.wall {
    animation: wall_appear 1s forwards;
}

@keyframes wall_appear {
    0% {
        background-color: inherit;
    }
    100% {
        background-color: black;
    }
}
