* {
    box-sizing: border-box;
    margin: 0;
}

#mazegrid {
    display: grid;
    background-color: grey;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    border: thick solid black;
    width: 600px;
    height: 600px;
}

/* cell with no type, only use for debug */
.mazecell {
    background-color: purple;
}
